/* ==================================================================
                            Registration page start
=================================================================== */

.logo__holder {
  width: 43px;
  margin-bottom: 20px;
}
.signup__logo {
  width: 100%;
}

.eyeIcon {
  position: absolute;
  top: 49%;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}

.auth__link {
  cursor: pointer;
  font-size: 14px;
  color: #1976d2;
  text-decoration: underline;
  text-decoration-color: #1976d288;
  transition: all linear 0.1s;
}
.auth__link:hover {
  text-decoration-color: #1976d2;
}

/* ==================================================================
                            Registration page end
=================================================================== */

/* ==================================================================
                            Login page start
=================================================================== */

.post__input {
  border: none;
  outline: none;
  padding: 20px 30px;
  width: 90%;
  color: #666;
  background: transparent;
}

.post__input::placeholder {
  color: #d9d9d9;
}
.post__icon__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  transition: all linear 0.1s;
}
.post__icon__holder:hover {
  background: #0a6b9e;
}
.post__icon__holder:hover .post__icon {
  color: #fff;
}
.post__icon__holder .post__icon {
  color: #d9d9d9;
  font-size: 24px;
  border-radius: 4px;
  background: transparent;
  transition: all linear 0.1s;
}

/* ==================================================================
                            Login page end
=================================================================== */
