/* ==================================================================
                            Registration page start
=================================================================== */

.logo__holder {
  width: 43px;
  margin-bottom: 20px;
}
.signup__logo {
  width: 100%;
}

.eyeIcon {
  position: absolute;
  top: 49%;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}

/* ==================================================================
                            Registration page end
=================================================================== */

/* ==================================================================
                            Login page start
=================================================================== */

/* ==================================================================
                            Login page end
=================================================================== */
