/* ==================================================================
                            Registration page start
=================================================================== */

.logo__holder {
  width: 43px;
  margin-bottom: 20px;
}
.signup__logo {
  width: 100%;
}

/* ==================================================================
                            Registration page end
=================================================================== */

/* ==================================================================
                            Login page start
=================================================================== */

/* ==================================================================
                            Login page end
=================================================================== */
